name: 02 - Workflow Events

on: 
  push:
  pull_request:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show trigger
        run: echo "I have been triggered on ${{github.event_name}}"
